@charset "utf-8";
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// Variables
// ---------
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.45;
$spacing-unit: 16px;

// Width of the content area
$small-medium: 25.9375em; //416px
$medium: 48em; //760px
$large: 75em; //1200px
$x-large: 81.25em; //1300px

// Colors
$white: #FFFFFF;
$black: #303030;
$off-white: #F7F7F7;
$grey: #9B9B9B;
$dark-grey: #666666;
$blue: #105B63;

// Font sizes
$fz1: 1.602em;
$fz2: 1.424em;
$fz3: 1.266em;
$fz4: 1.125em;
$fzr: 1em;
$fzp: $fzr;
$fzs: 0.889em;

// library imports
@import "lib/pivotl";
@mixin r-r {
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin r-m {
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

// Universal
html {
    font-size: $fzr;
}
body {
    @include r-r;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: $base-line-height;
    color: $black;
    background-color: $off-white;
}
p {
    margin-bottom: 1.3em;
}
h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}
h1 {
    margin-top: 0;
    font-size: $fz1;
}
h2 {
    font-size: $fz2;
}
h3 {
    font-size: $fz3;
}
h4 {
    font-size: $fz4;
}
small,
.font_small {
    font-size: $fzs;
}

a {
    outline-color: $blue;
}

// spinner
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba($grey, 0.2);
    border-right: 1.1em solid rgba($grey, 0.2);
    border-bottom: 1.1em solid rgba($grey, 0.2);
    border-left: 1.1em solid $grey;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


// small media query
@media only screen {

    input[type='search'] {
        width: 100%;
        border: none;
        border-bottom: thin solid $grey;
        font-size: $fz4;
        appearance: none;
        outline: none;
        padding: 16px 8px;
    }
    .home-search {
        position: relative;
        margin-top: 32px;
        label {
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
            font-size: $fz4;
            color: $dark-grey;
            transition: all 150ms ease-in-out, text-transform 50ms linear 100ms;
        }
        input[type='search'] {
            &:focus, &.open {
                border-bottom: thin solid $blue;
                ~ label {
                    top: 0;
                    left: 4px;
                    font-size: $fzr;
                    font-weight: 600;
                    color: $blue;
                    text-transform: uppercase;
                }
            }
        }
    }

    #search-results {
        position: absolute;
        display: none;
        width: 100%;
        background-color: $white;
        z-index: 2;
        &.open {
            display: block;
        }
        a {
            width: 100%;
            height: 100%;
            display: block;
            color: $black;
            &:hover {
                color: $blue;
            }
        }
        .search-artists {
            margin: 0;
            padding: 8px;
            box-shadow: 0 2px 1px 1px rgba($grey, 0.4);
            li {
                position: relative;
                list-style: none;
                margin-bottom: 8px;
                background-color: $off-white;
            }
        }
        .search-photo {
            width: 64px;
            height: 64px;
            background-size: cover;
            background-position: center;
            background-color: $grey;
        }
        .search-info {
            position: absolute;
            top: 0;
            width: 100%;
            padding-left: 64px;
            .name {
                padding: 16px;
                line-height: 2em;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    #pop-artists {
        opacity: 1;
        transition: opacity 150ms ease-in-out;
        &.visible {
            .feature-artists{
                opacity: 1;
            }
        }
        &.dim {
            opacity: 0.2;
        }
    }

    .feature-artists {
        margin: 0;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        li {
            display: inline-block;
            width: 49%;
            background-color: $white;
            list-style: none;
            margin-bottom: 8px;
            margin-right: 2px;
            vertical-align: top;
            box-shadow: 0 1px 1px 1px rgba($grey, 0.1);
            transition: box-shadow 150ms ease-in-out;
            &:nth-child(even) {
                margin-right: 0;
            }
            &:hover, &:focus {
                box-shadow: 0 1px 1px 2px rgba($grey, 0.3);
                outline: none;
                .name {
                    color: $blue;
                }
            }
            a {
                &:hover, &:focus {
                    outline-color: $blue;
                }
            }

        }
    }

    .feature-photo {
        height: 128px;
        background-size: cover;
        background-position: center;
    }
    .feature-info {
        width: 100%;
        height: 100%;
        .name {
            color: $black;
            padding: 8px;
            font-size: $fz3;
            vertical-align: middle;
            transition: color 150ms ease-in-out;
        }
    }

    #artist-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.8);
        visibility: hidden;
        opacity: 0;
        transition: all 200ms ease-in-out;
        &.open {
            visibility: visible;
            opacity: 1;
            z-index: 20;
            & ~ .row {
                height: 100%;
                overflow: hidden;
            }
        }
        .modal {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $white;
        }
        .artist-image {
            width: 100%;
            height: 256px;
            background-size: cover;
            background-position: center;
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            font-size: 64px;
            background-color: rgba($white, 0.7);
            width: 64px;
            height: 64px;
            color: $black;
            line-height: 32px;
            text-align: right;
            border-radius: 0 0 0 100%;
            padding: 8px;
            transition: all 150ms ease-in-out;
            &:hover {
                color: $blue;
                background-color: rgba($white, 1);
            }
        }
    }
}

// medium
@media only screen and (min-width: $medium) {

    // Font sizes
    $fz1: 3.157em;
    $fz2: 2.369em;
    $fz3: 1.777em;
    $fz4: 1.333em;
    $fzr: 1em;
    $fzp: $fzr;
    $fzs: 0.75em;

    h1 {
        margin-top: 0;
        font-size: $fz1;
    }
    h2 {
        font-size: $fz2;
    }
    h3 {
        font-size: $fz3;
    }
    h4 {
        font-size: $fz4;
    }
    small,
    .font_small {
        font-size: $fzs;
    }



    input[type='search'] {
        font-size: $fz3;
        padding: 16px;
    }
    .home-search {
        label {
            left: 16px;
            font-size: $fz3;
        }
    }

    .feature-artists {
        li {
            width: 32%;
            margin-right: 1%;
            &:nth-child(even) {
                margin-right: 1%;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    #artist-modal {
        .modal {
            position: absolute;
            width: 560px;
            height: 560px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
}

//large
@media only screen and (min-width: $large) {

    // Font sizes
    $fz1: 6.854em;
    $fz2: 4.236em;
    $fz3: 2.618em;
    $fz4: 1.618em;
    $fzr: 1em;
    $fzp: $fzr;
    $fzs: 0.618em;

    h1 {
        margin-top: 0;
        font-size: $fz1;
    }
    h2 {
        font-size: $fz2;
    }
    h3 {
        font-size: $fz3;
    }
    h4 {
        font-size: $fz4;
    }
    small,
    .font_small {
        font-size: $fzs;
    }


    input[type='search'] {
        font-size: $fz2;
        padding: 32px;
    }

    .feature-artists {
        li {
            width: 24%;
            margin-right: 0.65%;
            &:nth-child(even) {
                margin-right: 0.65%;
            }
        }
    }

    #artist-modal {
        .modal {
            width: 720px;
        }
    }
}
